/* @charset "ISO-8859-1"; */

body{
	margin:0;
}

.header{
	background-color: cyan;
    padding: 1px;
}
h1{
	padding-left: 15px;
}
.searchArea{
	background-color:cyan;
    padding: 30px;
}

#result{
	min-height: 500px;
	padding: 10px;
}

#result ul {
    list-style: none;
    padding: 0;
}

#result li{
    padding: 10px;
}

.validator{
	float:right;
}